**/*_cl.h

build/
CMakeCache.txt
CMakeFiles/
Makefile
*.exe

cmake_install.cmake
compile_commands.json
libs/
nbproject/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.opensdf
*.sdf
Debug/
/x64/
/.vs
*.png
